<div id="playfairForm" class="form-popup">
    <span class="close-btn" onclick="closeForm('playfairForm')">×</span>
    <h3>Playfair Cipher - PHAN ĐÌNH DUY THÔNG - 12345678</h3>
    <form action="/encrypt/playfair" method="post">
        <input name="inputPlainText" placeholder="Văn bản cần mã hóa"><br>
        <input name="inputKeyPlain" placeholder="Khóa"><br>
        <button type="submit">Mã hóa</button>
    </form><br>
    <form action="/decrypt/playfair" method="post">
        <input name="inputCipherText" placeholder="Văn bản cần giải mã"><br>
        <input name="inputKeyCipher" placeholder="Khóa"><br>
        <button type="submit">Giải mã</button>
    </form>
</div>